#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name[]=thePage
GenericName[]=Document Viewer
Categories=Office;Viewer;Graphics;
Exec=thepage
Icon=thepage
MimeType=application/pdf;
