#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name[]=thePage Blueprint
GenericName[]=Document Viewer
Categories=Office;Viewer;Graphics;
Exec=thepage
Icon=thepage-blueprint
MimeType=application/pdf;
